:root{
    --color-background: hsl(185, 75%, 39%);
    --color-text: hsl(229, 23%, 23%);
    --color-white: hsl(0, 0%, 100%);
    --alternative-color-text: hsl(0, 0%, 59%);
    --color-line: hsl(227, 10%, 90%);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,h3,p{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--color-background);
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 52.6vw bottom 32vh, left 50vw top 50vh;
}
.main-container{
    display: grid;
    grid-template: 1fr 375px  1fr/ 1fr 350px 1fr;
    height: 100vh;
}
.card{
    grid-area: 2 / 2;
    display: grid;
    grid-template-rows: 140px 145px 90px;
    background-color: var(--color-white);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.315);
}
.card-header{
    grid-area: 1 /1 ; 
    margin: 0;
    display: inline-block;
}
.card-header-image{
    width: 100%;
    display: block;
}
.card-body{
    grid-area: 2/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-line);
}
.card-body-image{
    border: 5px solid var(--color-white);
    background-color: var(--color-white);
    border-radius: 50%;
    margin-top: calc(-48px - 5px);
}
h1{
    margin: 0;
    margin-top: 2.3rem;
    color: var(--color-text);
    font-size: 1.8rem;
}
h1 span{
    color: var(--alternative-color-text);
    font-weight: 400;
}
.card-body-subtitle{
    font-size: 1.4rem;
    color: var(--alternative-color-text);
    margin-top: 1.5rem;
    margin-bottom: 2.8rem;
}
.card-footer{
    grid-area: 3/1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-footer-social{
    text-align: center;
}
.card-footer-social-title{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: var(--color-text);
}
.card-footer-social-subtitle{
    margin: 0;
    letter-spacing: 1px;
    color: var(--alternative-color-text);
    font-weight: 400;
    font-size: 1.2rem;
}

@media screen and (max-width:320px){
    .main-container{
        grid-template: 1fr 300px  1fr/ 1fr 275px 1fr;
    }
    .card-body-image{
        border: 3px solid var(--color-white);
        margin-top: calc(-48px - 3px);
    }
    .card-body-title{
        margin-top: 1.8rem;
        color: var(--color-text);
        font-size: 1.3rem;
    }
    .card-body-subtitle{
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .card{
        grid-template-rows: 110px 115px 75px;
    }
    .card-footer-social-title{
        font-size: 1.3rem;
    }
    .card-footer-social-subtitle{
        font-size: 1rem;
    }
}