@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
    font-size : 62.5%;
}

:root {
    --bg-color        : hsl(185, 75%, 39%);
    --boder-color     : hsl(227, 10%, 90%);

    --text-color      : hsl(229, 23%, 23%);
    --text-color-alt  : hsl(0, 0%, 59%);
    --bg-white        : hsl(0, 0%, 100%);

    --body-font       : "Kumbh Sans", sans-serif;

    --border-radius   : 1.2rem;

    --margin-4        : 1.8rem;
    --margin-3        : 1.6rem;
    --margin-2        : 1.2rem;
    --margin-1        : 0.8rem;

    --bigger-font-size: 2rem;
    --big-font-size   : 1.8rem;
    --normal-font-size: 1.6rem;
    --small-font-size : 1.4rem;
}

body {
    font-family        : var(--body-font);
    color              : var(--text-color);

    background-color   : var(--bg-color);
    background-image   : url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat  : no-repeat, no-repeat;
    background-position: right 52.6vw bottom 32vh, left 50vw top 50vh;

    display            : flex;
    flex-direction     : column;
}

img {
    width: 100%;
}

.main {
    min-height     : 100vh;

    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.gap {
    padding: var(--margin-4) 0;
}

.card {
    display         : grid;

    border-radius   : var(--border-radius);
    background-color: var(--bg-white);
    box-shadow      : 0px 1px 7px rgba(0, 0, 0, 0.315);

    margin          : 0 var(--margin-4);
}

.card-header {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card-main {
    display       : flex;
    flex-direction: column;
    align-items   : center;

    margin-bottom : var(--margin-3);
    border-bottom : 1px solid var(--boder-color);
}

.card-profile {
    --size          : 10rem;
    width           : var(--size);

    background-color: var(--bg-white);
    border          : 5px solid var(--bg-white);
    border-radius   : 50%;

    margin-top      : calc((var(--size) / 2) - var(--size));
    margin-bottom   : var(--margin-3);
}

.card-name {
    font-size    : var(--big-font-size);

    margin-bottom: var(--margin-2);
}

.card-age {
    color      : var(--text-color-alt);
    font-size  : var(--big-font-size);
    font-weight: 400;
}

.card-country {
    color        : var(--text-color-alt);
    font-size    : var(--normal-font-size);

    margin-bottom: var(--margin-3);
}

.card-footer {
    margin-bottom  : var(--margin-3);
}

.card-stats-list {
    display        : flex;
    justify-content: space-evenly;
}

.card-stats {
    text-align: center;
}

.card-stats-number {
    font-size    : var(--bigger-font-size);

    margin-bottom: var(--margin-1);
}

.card-stats-category {
    color         : var(--text-color-alt);
    font-size     : var(--small-font-size);
    font-weight   : 400;
    letter-spacing: 0.1rem;
}

.credits {
    font-size: var(--small-font-size);
    color: var(--bg-white);

    margin-bottom: var(--margin-4);
}

.link:hover {
    color: var(--text-color);
}